doctype html
html
    head
        title Page #{name}
        meta(charset='utf-8')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    body
        include nav.pug

        div.container.mt-5
            h2 Utilisateur connecté : #{UserConnected}
            table.table.table-hover.table-bordered
                thead
                    tr
                        th(scope="col") #
                        th(scope="col") UserName
                        th(scope="col") Email
                        th(scope="col") Action
                tbody
                    for allUser in allUsers
                        tr
                            th(scope="row") #{allUser._id}
                            td #{allUser.name}
                            td #{allUser.email}
                            td
                                a(href='/user/'+allUser.id)
                                    button.btn.btn-info Plus
            a(href='/signout')
                button.btn.btn-danger Se déconnecter